
/*--------------------------------------------------------------------------------*/
.test_container  {
	display:block;
	margin: auto; 
    position: relative;
	width:90%;
	min-width:400px;
	background: url(../images/d.png);
	box-sizing:border-box;
	
}
.test_container #step1{
	display:block;
	width:100%;
	text-align: center;	
	
}
.test_container #step1:hover{
	box-shadow: 1px 1px 8px -1px #00d7d7;
	background:green;
}
.target_step {
	display:none;
	font-family:Century Gothic;
}
 div :target{
	display:block;
}

.test_container a{          /*block ssilki*/
	display:block;
	margin: auto; 
	width:100%;
	min-width:100px;
	background: white ;
	box-sizing:border-box;
	padding:0.5%;
	color:red;
	font-family:Century Gothic;
}

.target_step a:hover{
	opacity:0.7;
	
	-webkit-transition: all 1s ease-in;
           -moz-transition: all 0.4s ease-in;
			 -o-transition: all 0.4s ease-in;
            -ms-transition: all 0.4s ease-in;
                transition: all 0.4s ease-in; 
}

.column1{
	margin-top:0.5%;
	padding:2%;
	width:46%;
	float:left;
	height:100%;
	display:block;
    position: relative;
	background:  url(../images/d.png);
}
.column2{
	margin-top:0.5%;
	padding:2%;
	width:46%;
	float:right;
	height:100%;
	background:  url(../images/d.png);
}
.column1:hover, .column2:hover{
	background: white url(../images/d.png);
	 box-shadow: 1px 1px 8px -1px #00d7d7;
	-webkit-transition: all 1s ease-in;
           -moz-transition: all 0.4s ease-in;
			 -o-transition: all 0.4s ease-in;
            -ms-transition: all 0.4s ease-in;
                transition: all 0.4s ease-in; 
}

.square_logo{
	width:50%;
}

.toplink{
	padding-bottom:1%;
	display:block;
	position:relative;
	width:100%;
	background: green url(../images/d.png);
	text-align: center;
}

.toplink span{
	display:block;
	position:absolute;
	left:0%;
	top:0%;
	background-color:rgba(0, 0, 0, 0.3);
	
}

