
html {
	z-index:1;
	background: url(../images/d.png);
	padding-top: 0px;	
	padding-bottom: 50px;
}
 
body{
	
}

a{
text-decoration:none;
}
   
.bikes_container{
	display:block;
	margin: auto; 
    position: relative;
	width:80%;
	min-width:400px;
	max-width:1000px;
	height:500px;
	background:  url(../images/skulls.png);
	box-sizing:border-box;
	padding:0.5%;
}

.bikes_container img {
	position: absolute;
}

.bikes_container a {
	color: rgba(0,205,255, 0.5);
	
	-webkit-transition: all 0.4s ease-out;
           -moz-transition: all 0.4s ease;
			 -o-transition: all 0.4s ease;
            -ms-transition: all 0.4s ease;
                transition: all 0.4s ease; 
	
	-webkit-filter: grayscale(90%);
      -moz-filter: grayscale(100%);
       -ms-filter: grayscale(100%);
        -o-filter: grayscale(100%);
		   filter: grayscale(100%);
                      filter: gray;   /* IE 6-9 */
}

.bikes_container a:hover {
	color: rgba(0,205,255, 1);
	font:bold;
	font-size: 150%;
	-webkit-filter: grayscale(0%);
       -moz-filter: grayscale(0%);
        -ms-filter: grayscale(0%);
         -o-filter: grayscale(0%);
                     filter: none;
			
}

#fork{
	z-index: 50;
	width:7.5%;
	left:75%;
	top:15%;
}

#frame{
	z-index: 60;
	width:55%;
	left:20%;
	top:15%;
}

#wheel{
	z-index: 70;
	width:37%;
	left:55%;
	top:2%;
}




