
html {
	z-index:1;
	background: url(../images/d.png);
	padding-top: 0px;	
	padding-bottom: 50px;
}
 
body{
	
}
a{text-decoration:none;}
   
.bikes_container{
	margin: auto; 
	margin-left: 25%;
    position: relative;
	width:50%;
	height:500px;
	background:  url(../images/skulls.png);
	float:left;
	box-sizing:border-box
}

.bikes_container img {
	position: absolute;
}

.bikes_container a img:hover{-webkit-filter: invert(100%);
	-webkit-transform: rotate(-5deg);
     -moz-transform: rotate(-5deg);
       -o-transform: rotate(-5deg);
      -ms-transform: rotate(-5deg);
          transform: rotate(-5deg);
		  
		  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
          transition: all 0.2s ease;
}
.bikes_container a {
	color: rgba(0,205,255, 0.5);
}
.bikes_container a:hover {
	color: rgba(0,205,255, 1);
	font:bold;
		   
}


#fork{
	z-index: 50;
	width:10%;
	left:70%;
	top:50px;
}

#frame{
	z-index: 60;
	width:50%;
	left:20%;
	top:50px;
}

