*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
html {
	z-index:1;
	background: #FFFFFF url(../images/skulls.png);
	padding-top: 0px;	
	padding-bottom: 50px;
}

a {
	color:#537CBC; text-decoration:none; 
}
h1 a:hover {
	color:orange;
}
 
body {
	z-index:2;
	position:absolute;
	right:0%;
	width: 100%;
	background: white url(../images/d.png);
	border-bottom: outset;
}
h2{
	z-index:3;
	position: relative;
	font-size:20px;
	padding:5%;
	border-bottom: outset;
	
}
#first{
padding-top:10%;
}
#second {
	background: orange;
}
#third{
	background: white url(../images/skulls.png);
}


.upper {
	z-index:5;
    position:fixed;
    right:-10%;
	bottom:0%;
	height:95%;
	width:5%;
	opacity: 0;
	background:  url(../images/upp.png) repeat-y;
	
	-webkit-transition: all ease  700ms;
	-moz-transition: all ease  700ms;
	-o-transition: all ease 700ms;
	-ms-transition: all ease 700ms;
	transition: all ease 700ms;
}
.upper:hover{
	right:0%;
	
	background: white url(../images/upp.png) ;
	width:6%;
	
}
.vision{
	opacity:0.5;
	right:0%;
	
}

.photo-logo {
    z-index:5;
	position:absolute;
    left:0px;
	bottom:5%;
	height:50px;
	width:160px;
	background: url(../images/photo-logo.png) repeat-y;
	background-size: 100% 100%;
	opacity: 0.5;
	-webkit-transition: all ease  700ms;
	-moz-transition: all ease  700ms;
	-o-transition: all ease 700ms;
	-ms-transition: all ease 700ms;
	transition: all ease 700ms;
}
.photo-logo:hover{
	opacity: 1;
	height:60px;
	width:180px;
	right:5px;
}

.head-bg{
	z-index:5;
	position: relative;
	height:200px;
	width: 100%;
	left:0%;
	top:0%;
	background: white url(../images/d.png);
	
}


.scroll-down1 {
	height:15%;
	
}

.scroll-down2 {
	height:5%;
	
}

header{
	z-index:6;
	position: fixed;
	padding:5px;
	height:30%;
	width: 100%;
	left:0%;
	top:0%;
	text-align: center;
	font-size: 50px;
	background: black url(../images/d.png);
	
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	-ms-transition: all ease 0.5s;
	transition: all ease 0.5s;
	
}




