html {
	background-image: url(../images/bg.png);
	padding-top: 0px;	
	padding-bottom: 50px;
}

a {
	color:#537CBC; text-decoration:none; 
}
p a:hover {
	background: red;
 }
body {
	position:static;
	left:10%;
	width: 79%;
	padding: 50px;
	margin: 0 auto;
	box-shadow: 10px 10px 10px rgba(0,0,0,.5);
	background-color: #E1EDEB;
	font-size:10px;
	
}

.upper {
    position:fixed;
    right:0%;
	top:0%;
	height:100%;
	width:7%;
	
	background: url(../images/upp.png) repeat-y;
	baopacity:0.3;
}
.upper:hover{
	opacity: 0.3;
	background: orange url(../images/upp.png) ;
}

.head{	
	position:absolute;
    left:0%;
	top:0%;
}

.photo-logo {
	position:absolute;
    left:0%;
	top:0%;
	width:50px;
	height:180px;
	background: url(../images/photo-logo.png) repeat-y;
	background-size: 100% 100%;
	opacity: 0.7;
}
.photo-logo:hover{
	opacity: 1;
}

.m{
	position:fixed;
    right:10%;
	top:0%;
	height:10%;
	width:10%;
}

